---
#
- name: prepare kafka directory
  file:
    path: "{{ kafka_base }}"
    state: directory

- stat: "path={{ kafka_home }}/bin/kafka-server-start.sh"
  register: kafka_file

- debug:
    var: kafka_file

- name: unarchive file
  unarchive:
    src: "http://www.us.apache.org/dist/kafka/{{ kafka_version }}/kafka_{{ kafka_scala_version }}-{{ kafka_version }}.tgz"
    dest: "{{ kafka_base }}"
    copy: no
  when: kafka_file.stat.exists == false

- set_fact:
    profile_file: "$HOME/.profile"
  when: ansible_os_family == "Debian"

- set_fact:
    profile_file: "{{ ansible_env.HOME }}/.bash_profile"
  when: ansible_os_family == "RedHat"

- name: set kafka variables
  lineinfile:
   dest: "{{ profile_file }}"
   regexp: "^{{ item.start }}"
   line: "{{ item.start }}{{ item.end }}"
   insertbefore: "export PATH"
  with_items:
   - { start: "KAFKA_HOME=", end: "{{ kafka_home }}" }
   - { start: "PATH=$KAFKA_HOME/bin:", end: "$PATH" }
   - { start: "export KAFKA_HOME", end: "" }
